:root {
  --main-font: 'Poppins', sans-serif;
  --title-font: 'PT Serif', sans-serif;
  --footer-font: 'Montserrat', sans-serif;
  --footer-color: #A9A9A9;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: 16px;
  max-width: 990px;
  margin: 0 auto;
}

/* Header */
.header {
  margin: 1.7rem 3rem 6rem 1.2rem;
}

.header_primary-title {
  font-family: var(--title-font);
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 3.8rem;
}

.header_secondary-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.header_description {
  font-size: 1.4rem;
}

/* Main section */
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 8.494rem;
}

.person-card.even {
  margin-top: 6.4rem;
}

.img-container {
  display: flex;
}

.person-img {
  height: 209px;
  width: 138.72px;
  margin: 0 0.628rem 1rem 0;
}

.person-job {
  font-family: var(--title-font);
  font-size: 1rem;
  text-orientation: mixed;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

.person-name {
  font-weight: 600;
}

/* Footer */
.footer {
  color: var(--footer-color);
  font-family: var(--footer-font);
  font-size: 1.4rem;
  margin-bottom: 2.8rem;
  text-align: center;
}

.footer-link {
  color: var(--footer-color);
  text-decoration: none;
}

.footer-link.my-site {
  text-decoration: underline;
}

/* Media queries */
@media screen and (min-width: 475px) {
  /* Header */
  .header {
    margin: 1.7rem 3rem 6rem 3rem;
  }

  /* Main section */
  .person-img {
    height: 280px;
    width: 180px;
  }
}

@media screen and (min-width: 590px) {
  /* Header */
  .header_primary-title {
    font-size: 3.8rem;
  }

  .header_secondary-title {
    font-size: 2rem;
  }

  .header_description {
    font-size: 1.6rem;
    padding-right: 8rem;
  }

  /* Main section */
  .person-img {
    height: 341px;
    width: 238px;
  }

  .person-job {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 750px) {
  /* Header */
  .header {
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 9.6rem;
  }

  .header_primary-title {
    font-size: 3.6rem;
    width: 50%;
  }

  .header_desktop-right {
    width: 50%;
  }

  .header_secondary-title {
    font-size: 1.8rem;
  }

  .header_description {
    font-size: 1.4rem;
    padding-right: 2rem;
  }

  /* Main section */
  .main-section {
    margin: 0 0 8.494rem;
  }

  .person-card.person5 {
    margin-top: 12.8rem;
  }

  .person-img {
    height: 280px;
    width: 200px;
  }
}

@media screen and (min-width: 900px) {
  /* Main section */
  .person-img {
    height: 341px;
    width: 238px;
  }
}

@media screen and (min-width: 990px) {
  /* Header */
  .header {
    margin: 9rem 3rem 9.6rem;
  }

  /* Main section */
  .person-img {
    height: 350px;
    width: 240px;
  }
}